
@import url('https://fonts.googleapis.com/css?family=Bungee|Open+Sans&display=swap');

* {
  	box-sizing: border-box;
  	font-family: 'Open Sans', sans-serif; 
}

html, body{
	height: 100%;
	margin: 0;
	background-image: linear-gradient(0deg,#4F0082,#130020,#000000);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #FFFFFF;
}

div {
  	display: inline-block;
}

button {
  	font-size: 15px;
  	color: #FFFFFF;
  	justify-content: center;
  	width: 100%;
  	height: 50px;
  	margin: 10px 0;
  	background: #360069;
  	border-style: ridge;
  	border-color: #4F0082;
  	border-radius: 8px;
    font-weight: 700;

}

button:hover {
  background: #FFFFFF;
  color: #000000;
  cursor: pointer;
}

button:disabled{
  border-style: dashed;
  border-color: red;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
  scroll-behavior: unset; 
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input::placeholder {
  	color: #adadad;
}

input:focus::placeholder {
  	color: transparent;
}

input {
  	height: 45px;
  	width: 100%;
  	background: transparent;
  	display: block;
  	padding: 0 5px;
  	color: #555555;
  	font-size: 15px;
  	outline: none;
  	border: none;
  	overflow: visible;
}

ul{
  list-style: none;
}

li:hover{
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #4F0082;
}

li{
  padding: 10px 0px;
  font-weight: 700;
}

.mainDiv{
	display:block;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #4F0082;
}

.input_wrap {
  	padding: 10px 0 0 0;
  	margin-bottom: 35px;
  	width: 100%;
}

.input_wrap_sel {
    background:transparent;
    background-color: #F7F7F7;
}

.Bungee{
	font-family: 'Bungee', cursive;
	font-size: 40px;
	margin: 0;
	text-align: center;
}

.BungeeLeft{
  font-family: 'Bungee', cursive;
  font-size: 50px;
  margin: 0;
  text-align: left;
  line-height: 2;
}

.formulatzione{
	color: #000000;
}

.line{
	height: 1px;
	width: 100%;
    border-radius: 4px;
}

.rainbowgrad{
	background: purple;
  background-image: linear-gradient(90deg,red,orange,yellow,lightgreen,cyan,blue,purple);
}

.red{
  color: red;
}
.centered{
	margin:0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.huge{
  font-size: 50px;
}

.superhuge{
  font-size: 250px;
}

.invisible{
  display: none;
}

.waiting{
  cursor: progress;
}

.headDiv{
  width: 33%;
  height: auto;
}

.right{
  text-align: right;
}

.gameElement{
  margin: 10px;
  width: 200px;
  height: 300px;
}

.gameImg{
  width: 200px;
  height: 270px;
}

.gameImg:hover{
  cursor: pointer;
}

.gameNameLbl{
  font-style: italic;
  font-size: 12px;
  font-weight: 700;
}

.gameNameLbl:hover{
  cursor: pointer;
}

.gameTitle{
  text-align: center;
  font-weight: 700;
}

.gameDescription{
  width: 70%
}

.gamePresentation{
  width: 100%
}

.profLbl{
  width: 100%;
  float: left;
  margin-left: 20px;
  padding-top: 10px;
}

.info{
  padding: 10px;
}

.searchInput{
  background: #FFFFFF;
  color: #000000;
  display: inline;
  width: 75%;
}

.review{
  font-style: italic;
}

.bigGameImg{
  width: 350px;
  height: 410px;
  padding: 20px;
  margin: 10px;
  float: left;
}

#menuNav{
  width: 20%;
  background: #E7F1FF;
  border-radius: 3px;
  margin: 0.5% 1% 0.5% 1%;
  color: #000000;
  float: left;
}

#mainBody{
  width: 75%;
  background: #E7F1FF;
  border-radius: 3px;
  margin: 0.5% 1% 0.5% 1%;
  color: #000000;
}

#bodyDiv{
  width: 100%;
  height: 88%;
  display: inline-block;
}

#searchButton{
  display: inline;
  width: auto;
}

#container-button {
  width: 300px;
}

#container-home {
	width: 800px;
	min-height: 300px;
	background: #ffffff;
	margin: auto;
	padding: 40px 50px;
}

#container-form {
	width: 400px;
	background: #ffffff;
	border-radius: 2px;
	padding: 40px 50px;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

#signup_option {
  font-size: 13px;
  width: 100%;
  text-align: center;
  margin: 5px 0 0 0;
}

#infodiv{
  width: 100%;
  height: auto;
}

#buttonsAdd{
  float: left;
  width: 350px;
}

#addToPlay{
  width: 250px;
  text-align: center;
  margin: 10px 30px;
}

#addPlayed{
  width: 250px;
  float: left;
  text-align: center;
  margin: 10px 30px;
}

#revs{
  background: #FFFFFF;
  width: 100%;
}

#newReview{
  background: #FFFFFF;
  width: 85%;
  height: 5em;
  display: inline;
}

#revButton{
  width: auto;
  float: right;
  display: inline;
}

#jaja{
  width: 100%;
  margin: 10px;
}

#optInfo{
  width: 100%;
}

#social{
  width: 100%;
}

#editProfile{
  width: 100%;
  padding: 10px;
}